<!doctype html>
<html>
  <head>
    <title>About and Login - <%=siteData.siteName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteData.siteName%></h1>
    <p>A secure portfolio site!</p>
  </body>
</html>
