<!doctype html>
<html>
  <head>
    <title>About and Login - <%=siteData.siteName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteData.siteName%></h1>
    <p>A secure portfolio site!</p>
    <p>Here we have all of my github works as well as works stored in the database!</p>
    <p>Your account made here has advanced password hashing! As well as anti-sql injection measures.</p>
  </body>
</html>
