<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteData.siteName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteData.siteName%></h1>
    <p><a href="about">About <%=siteData.siteName%></a></p>
    <p><a href="projects">View and Search Projects</a></p>
    <p><a href="users/register">Register to my site!</a></p>
    <p><a href="users/login">Login Here</a></p>
    <p><a href="users/loggedin">Whos logged in</a></p>
    <p><a href="users/profile">Profile</a></p>
  </body>
</html>
